.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif; /* replace with your preferred font */
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* headers */
h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2rem; /* 32px */
}

h3 {
  font-size: 1.375rem; /* 22px */
}

h4 {
  font-size: 1.125rem; /* 18px */
}

.text-center {
  text-align: center;
}

.app-title {
  text-align: center;
  font-weight: bold;
  font-family: Roboto, sans-serif;
  margin-top: 100px; /* Add a top margin */
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.app {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, #3b6978, #204051);
  animation: Gradient 3s ease infinite;
  color: white;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}


.site-title {
  margin-bottom: 100px; /* Adjust this as needed */
}

.site-description {
  margin-bottom: 100px; /* Adjust this as needed */
}

/* Rest of your CSS rules */

.text-large {
  font-size: 30px; /* Adjust size as needed */
  margin-bottom: 20px;
}

.text-medium {
  font-size: 24px; /* Adjust size as needed */
  margin-bottom: 100px;
}

.text-small {
  font-size: 18px; /* Adjust size as needed */
  margin-bottom: 20px;
}

.space-below {
  margin-bottom: 100px;
}

.intro-text {
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 50px; /* Adjust as needed */
  font-size: 1.5em; /* Adjust as needed */
}

.button {
  background-color: white;
  color: black;
  padding: 15px 32px;  /* Increase padding to make buttons bigger */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 50px;  /* Add margins around the buttons */
  cursor: pointer;
  border: 2px solid black;  /* Add border to make the buttons more defined */
  transition: background-color 0.3s, color 0.3s;  /* Add transition for hover effect */
}

.button:hover {
  background-color: black;
  color: white;
}

.buttons-container {
  margin-bottom: 50px;  /* Adjust this value as per your requirement */
}


